/*
layout
*/
body
{
 margin:0;
 padding:0;
}

#nav
{
 float:left;
}

#nav .toolbar
{ 
 border:1px solid;
 padding:0.5em;
 width:10.5em;
}

#nav .toolbar ul
{
 padding:0 0 0 0.7em;
 margin:0;
 line-height: 1.5em;
 list-style-type: square;
 font-size: 95%;
}

#nav .toolbar li
{
	padding: 0;
	margin: 0;
}

#nav h5
{
	padding: 0 1em 0 .5em;
}

#nav .toolbar h3
{
  padding:0;
  margin:0;
}

#content
{
  position: relative;
  margin:0.5em;
}

#sitenav
{
 border-bottom:1px solid;
}

.page
{
 padding:0.5em;
 border:0.1em solid;
 margin-left:12em;
}

.banner
{
 clear: both;
 border:1px solid;
 padding:0.1em;
 margin:0.5em;
}

.news
{
  border: 1px solid;
  float: right;
  margin: .5em 0em .8em 1.4em;
  padding: .5em 1em;
  min-width:280px;
  _width:280px;
  max-width:50%;
}

/*STYLE*/

#nav .toolbar
{
 font-family:Arial, Helvetica, sans-serif;
}

.pagenav h1, .pagenav h2,
  #sitenav a:link, #sitenav a:visited,
  .pagenav a:link,.pagenav a:visited
{
 font-weight:bold;
 font-size:medium;
 margin:0px;
 display:block;
 text-decoration:none;
}

.pagenav h1
{
 text-decoration:underline;
}

.pagenav h2
{
 padding-left:1em;
 font-size:small;
 font-style:italic;
 text-decoration:none;
}

.pagenav h3
{
 padding-left:2em;
 font-size:small;
 text-decoration:none;
}

#nav .toolbar h3
{
 font-size:small;
 text-decoration:none;
}

.page h1
{
 margin:0px;
 font-family:Arial, Helvetica, sans-serif;
 font-size:25px;
}

.page h2
{
 text-decoration:underline;
 font-style:italic;
 font-family:Arial, Helvetica, sans-serif;
 font-size:18px;
}

.page h3
{
 text-decoration:underline;
 font-style:italic;
 font-family:Arial, Helvetica, sans-serif;
 font-size:14px;
}

.page p, .page ul,.page li
{
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
}

.page pre
{
 font-size:12px;
}

.news
{
  font-size: 90%;
}

#nav h5
{
	background: transparent;
	display: inline;
	height: 1em;
	text-transform: lowercase;
	font-size: 91%;
	font-weight: normal;
	white-space: nowrap;
}

/*
COLOR
*/

body
{
 background-color:#FFFFFF;
 color:#000000;
}

.banner
{
 text-align:center;
}

#nav h5
{
	color: #BD4B4B;
	background: none; 	
}

#nav .toolbar
{
 background-color:#BF4747;
 color:#F38686;
 border-color:#FFCCFF;
}

#nav .toolbar h3,#nav .toolbar a:link, #nav .toolbar a:visited,
  .pagenav h1, .pagenav h2,
  #sitenav a:link, #sitenav a:visited,
  .pagenav a:link,.pagenav a:visited
{
 color:#FFFFFF;
}

#nav .toolbar a:hover, #sitenav a:hover, .pagenav a:hover
{
 background-color:#FFB9BB;
}

.page
{
 border-color:#FFCCFF;
 background-color:#CEA2A2;
}

.page h1, .page h2
{
 color:#BD4B4B;
}

.page h3
{
 color:#AC5A5A;
}

.page p, .page ul, .page li,.page pre
{
 color:#FFFFFF;
}

.page a:visited, .page a:link
{
 color:#B30000;
}

.news
{
 border-color:#aaaaaa;
 background-color:#BE8585;
}

.banner
{
 border-color:#FFCCFF;
}
