.doxygen, .doxygen p{
	color: #FFF;
}

.doxygen TD {
  font-size: 90%;
	color: #BD4B4B;
}
.doxygen H1 {
	text-align: center;
  font-size: 160%;
  color: #B30000;
}
.doxygen H2 {
       font-size: 120%;
}
.doxygen H3 {
       font-size: 100%;
}
.doxygen CAPTION { font-weight: bold }
.doxygen DIV.qindex {
	width: 100%;
	background-color: #e8eef2;
	border: 1px solid #84b0c7;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 140%;
}
.doxygen DIV.nav {
	width: 100%;
	background-color: #e8eef2;
	border: 1px solid #84b0c7;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 140%;
}
.doxygen DIV.navtab {
       background-color: #e8eef2;
       border: 1px solid #84b0c7;
       text-align: center;
       margin: 2px;
       margin-right: 15px;
       padding: 2px;
}
.doxygen TD.navtab {
       font-size: 70%;
}
.doxygen A.qindex {
       text-decoration: none;
       font-weight: bold;
       color: #BD4B4B;
}
.doxygen A.qindex:visited {
       text-decoration: none;
       font-weight: bold;
       color: #BD4B4B
}
.doxygen A.qindex:hover {
	text-decoration: none;
	background-color: #FFB9BB;
}
.doxygen A.qindexHL {
	text-decoration: none;
	font-weight: bold;
	background-color: #6666cc;
	color: #ffffff;
	border: 1px double #9295C2;
}
.doxygen A.qindexHL:hover {
	text-decoration: none;
	background-color: #FFB9BB;
	color: #ffffff;
}
.doxygen A.qindexHL:visited { text-decoration: none; background-color: #6666cc; color: #ffffff }
.doxygen A.el { text-decoration: none; font-weight: bold; }
.doxygen A.elRef { font-weight: bold }
.doxygen A.code:link { text-decoration: none; font-weight: normal; color: #0000FF}
.doxygen A.code:visited { text-decoration: none; font-weight: normal; color: #0000FF}
.doxygen A.codeRef:link { font-weight: normal; color: #0000FF}
.doxygen A.codeRef:visited { font-weight: normal; color: #0000FF}
.doxygen A:hover { text-decoration: none; background-color: #FFB9BB }
.doxygen DL.el { margin-left: -1cm }
.doxygen fragment {
       font-family: Fixed, monospace;
       font-size: 95%;
}
.doxygen PRE.fragment {
	border: 1px solid #CCCCCC;
	background-color: #BE8585;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.doxygen DIV.ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }
.doxygen TD.md { background-color: #F4F4FB; font-weight: bold; }
.doxygen TD.mdPrefix {
       background-color: #F4F4FB;
       color: #606060;
	     font-size: 80%;
}
.doxygen TD.mdname1 { background-color: #F4F4FB; font-weight: bold; color: #602020; }
.doxygen TD.mdname { background-color: #F4F4FB; font-weight: bold; color: #602020; width: 600px; }
.doxygen DIV.groupHeader {
       margin-left: 16px;
       margin-top: 12px;
       margin-bottom: 6px;
       font-weight: bold;
}
.doxygen DIV.groupText { margin-left: 16px; font-style: italic; font-size: 90% }
.doxygen TD.indexkey {
	background-color: #BF4747;
	font-weight: bold;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
	border: 1px solid #CCCCCC;
}
.doxygen TD.indexvalue {
	background-color: #BE8585;
	font-style: italic;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
	border: 1px solid #CCCCCC;
	color: #BD4B4B;
}
.doxygen TR.memlist {
   background-color: #f0f0f0; 
}
.doxygen P.formulaDsp { text-align: center; }
.doxygen IMG.formulaDsp { }
.doxygen IMG.formulaInl { vertical-align: middle; }
.doxygen SPAN.keyword       { color: #008000 }
.doxygen SPAN.keywordtype   { color: #604020 }
.doxygen SPAN.keywordflow   { color: #e08000 }
.doxygen SPAN.comment       { color: #800000 }
.doxygen SPAN.preprocessor  { color: #806020 }
.doxygen SPAN.stringliteral { color: #002080 }
.doxygen SPAN.charliteral   { color: #008080 }
.doxygen mdTable {
	border: 1px solid #868686;
	background-color: #F4F4FB;
}
.doxygen mdRow {
	padding: 8px 10px;
}
.doxygen mdescLeft {
       padding: 0px 8px 4px 8px;
	font-size: 80%;
	font-style: italic;
	background-color: #FAFAFA;
	border-top: 1px none #E0E0E0;
	border-right: 1px none #E0E0E0;
	border-bottom: 1px none #E0E0E0;
	border-left: 1px none #E0E0E0;
	margin: 0px;
}
.doxygen mdescRight {
       padding: 0px 8px 4px 8px;
	font-size: 80%;
	font-style: italic;
	background-color: #FAFAFA;
	border-top: 1px none #E0E0E0;
	border-right: 1px none #E0E0E0;
	border-bottom: 1px none #E0E0E0;
	border-left: 1px none #E0E0E0;
	margin: 0px;
}
.doxygen memItemLeft {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #BF4747;
	font-size: 80%;
}
.doxygen memItemRight {
	padding: 1px 8px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #BE8585;
	font-size: 80%;
}
.doxygen memTemplItemLeft {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
}
.doxygen memTemplItemRight {
	padding: 1px 8px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
}
.doxygen memTemplParams {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
  color: #606060;
	background-color: #FAFAFA;
	font-size: 80%;
}
.doxygen search     {
  color: #003399;
  font-weight: bold;
}
.doxygen FORM.search {
              margin-bottom: 0px;
              margin-top: 0px;
}
.doxygen INPUT.search { font-size: 75%;
               color: #000080;
               font-weight: normal;
               background-color: #e8eef2;
}
.doxygen TD.tiny      { font-size: 75%;}

.doxygen a, .doxygen .page a, .doxygen .page a:link {
	color: #FFF;
}
.doxygen a:visited, .doxygen .page a:visited {
	color: #FFF;
}

.doxygen dirtab { padding: 4px;
          border-collapse: collapse;
          border: 1px solid #84b0c7;
}
.doxygen TH.dirtab { background: #e8eef2;
            font-weight: bold;
}
.doxygen HR { height: 1px;
     border: none;
     border-top: 1px solid black;
}

