/*
  The original subSilver Theme for phpBB version 2+
  Created by subBlue design
  http://www.subBlue.com
*/


 /* General page style. The scroll bar colours only visible in IE5.5+ */
 /*   background-image: url(images/snowflakes.gif); */

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif }
hr  { height: 0px; border: solid #ADAFB8 0px; border-top-width: 1px;}


/* This is the border line & background colour round the entire page */
.bodyline { }

/* This is the outline round the main forum tables */
.forumline  { background-color: #; border: 2px #3A4256 solid; }

.banned { color: red; font-size: 13px; font-weight : bold; }

/* Main table cell colours and backgrounds */
td.row1 { background-color: #E4E5EC; }
td.row2 { background-color: #F1F2F8; }
td.row3 { background-color: #E4E5EC; }


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
    background-color: #F1F2F8;
    background-image: url(images/cellpic2.gif);
    background-repeat: repeat-y;
}

/* Header cells - the blue and silver gradient backgrounds */
th  {
  color: #; font-size: 11px; font-weight : bold;
  background-color: #E4E5EC; height: 25px;
  background-image: url(images/cellpic3.gif);
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
      background-image: url(images/cellpic1.gif);
      background-color:#E4E5EC; border: #FFFFFF; border-style: solid; height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
  height: 29px;
  border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
  font-weight: bold; border: #FFFFFF; border-style: solid; height: 28px; }
td.row3Right,td.spaceRow {
  background-color: #E4E5EC; border: #FFFFFF; border-style: solid; }

th.thHead,td.catHead { font-size: 12px; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow   { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right  { border-width: 0px 1px 0px 0px; }
th.thLeft,td.catLeft    { border-width: 0px 0px 0px 1px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop   { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }


/* The largest text used in the index page title and toptic title etc. */


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #333A4B; }
a.gen,a.genmed,a.gensmall { color: #0D1C76; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover { color: #003AFF; text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu   { font-size : 11px; color : #3A4256 }
a.mainmenu    { text-decoration: none; color : #0D1C76;  }
a.mainmenu:hover{ text-decoration: underline; color : #003AFF; }


/* Forum category titles */
.cattitle   { font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #0D1C76}
a.cattitle    { text-decoration: none; color : #0D1C76; }
a.cattitle:hover{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink    { font-weight: bold; font-size: 12px; color : #0D1C76; }
a.forumlink   { text-decoration: none; color : #0D1C76; }
a.forumlink:visited { text-decoration: none; color : #5261BD; }
a.forumlink:hover{ text-decoration: underline; color : #003AFF; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav      { font-weight: bold; font-size: 11px; color : #3A4256;}
a.nav     { text-decoration: none; color : #0D1C76; }
a.nav:hover   { text-decoration: underline; }


/* titles for the topics: could specify viewed link colour too */
.topictitle     { font-size: 91%; color : #3A4256; }
a.topictitle:link   { text-decoration: none; color : #00106E; }
a.topictitle:visited { text-decoration: none; color : #5261BD; }
a.topictitle:hover  { text-decoration: underline; color : #003AFF; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name     { font-size : 12px; color : #3A4256;}

/* Name of poster in topic */
.name2      { font-size : 16px; color : #3A4256;}

/* Location, number of posts, post date etc */
.postdetails    { font-size : 10px; color : #3A4256; }


/* The content of the posts (body of text) */
.postbody { font-size : 85%;}
a.postlink:link { text-decoration: underline; color : #0D1C76 }
a.postlink:visited { text-decoration: underline; color : #5261BD; }
a.postlink:hover { text-decoration: underline; color : #003AFF}


/* Quote & Code blocks */
.code {
  font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
  background-color: #D5D4DB; border: #E4E5EC; border-style: solid;
  border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 84%; color: #444444; line-height: 125%;
  background-color: #D5D4DB; border: #E4E5EC; border-style: solid;
  border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright    { font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright   { color: #444444; text-decoration: none;}
a.copyright:hover { color: #3A4256; text-decoration: underline;}


/* Form elements */
input,textarea, select {
  color : #3A4256;
  font: normal 13px Verdana, Arial, Helvetica, sans-serif;
  border-color : #3A4256;
}

/* The text input fields background colour */
input.post, textarea.post, select {
  background-color : #FFFFFF;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
  background-color : #E4E5EC;
  color : #3A4256;
  font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
  background-color : #D5D4DB;
  font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
  background-color : #D5D4DB;
  font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #F1F2F8; border-style: none; }

/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("http://www.uoo.ru/phpBB/templates/subSilver/formIE.css");